    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 credit">
            <p>Made with <i class="fa fa-heart text-danger"></i></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/js/waypoints.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/scripts.js"></script>
    <script src="{{ site.baseurl }}/js/modernizr.js"></script>
  </body>
</html>